<div style="color: red;">
    @ViewBag.Code<br />
    @ViewBag.ErrorSource<br />
    <br /><hr /><br />
    @{
        if (!String.IsNullOrEmpty(@ViewBag.ErrorMsg))
        {
            @ViewBag.ErrorMsg;
        };
    }<br />
    @ViewBag.ErrorData<br />
    <br /><hr /><br />
    @ViewBag.ErrorCausingMethod<br />

    <br /><hr /><br />
    @ViewBag.ErrorStacktrace<br />
    <br /><hr /><br />
    @ViewBag.ErrorBaseException<br />
</div>


