@model dynamic
@{
    string @desc = "";
}
@section jsVars{
    <script>
        const controller = "Home";
    </script>
}
<div class="home-render-action">
    <table class="tableRow">
        <thead>
            <tr>
                <th>
                    <h1 id="welcomeString">C:\></h1>
                </th>
                <th>"...Looking forward to my next challenging opportunity in the areas of web, software & database engineering"</th>
                <th>
                    <div class="container">
                        @foreach (dynamic item in Model.SocialNetworkProfiles)
                        {
                        desc = @item.SocialNetworkDescription;
                        <div class="row no-gutters">
                            <div class="col-xl-2 contact">
                                @{
                                    switch (@desc.Trim().ToLower())
                                    {
                                        case "phone number":
                                            <i class="material-icons md-18 md-darkmint">perm_phone_msg</i>
                                            break;
                                        case "email":
                                            <i class="material-icons md-18 md-darkmint">alternate_email</i>
                                            break;
                                        case "linkedin":
                                            <div id="linkedinIcon">in</div>
                                            break;
                                        case "web site":
                                            <i class="material-icons md-18 md-darkmint">language</i>
                                            break;
                                        default:
                                            <i class="material-icons md-18 md-darkmint">email</i>
                                            break;
                                    }
                                }
                            </div>
                            <div class="col-xl-10">
                                @{
                                    switch (@desc.Trim().ToLower())
                                    {
                                        case "phone number":
                                            <a href="tel:1-@item.SocialNetworkAddress">@item.SocialNetworkAddress</a>
                                            break;
                                        case "email":
                                            <a href="mailto:@item.SocialNetworkAddress">
                                                @item.SocialNetworkAddress
                                            </a>
                                            break;
                                        case "linkedin":
                                        case "web site":
                                            <a href="@item.SocialNetworkAddress">
                                                @item.SocialNetworkAddress
                                            </a>
                                            break;
                                        default:
                                            @item.SocialNetworkAddress
                                            break;
                                    }
                                }
                            </div>
                        </div>
                        }
                    </div><br />
                </th>
            </tr>
        </thead>
    </table>
    <table class="tableRow table-striped table-dark">
        <tbody>
            <tr>
                <td>
                    <div>
                        @foreach (dynamic item in Model.ProfileAttributes)
                        {
                            <span class="profileAttributes" style="vertical-align: middle; padding-right: 20px;">@item.ProfileAttributeDescription</span>
                            <span class="bullet" style="padding-right: 20px;">&vert;</span>
                        }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="tableRow table table-striped table-dark table-hover">
        <tbody>
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td style="width: 50%;">
                                    <!-- column 1-->
                                    <div>
                                        <span class="paragraph-title">About this site</span>
                                    </div>
                                    <div><br />
                                        <p>Thank you for visiting my resume` web application.  This site was built for your benefit to experience a bit of my code design and engineering capabilities. The programming techniques used to build this site are described in the right panel: <span data-noevent="true" class="paragraph-title" style="padding: 4px;">Architecture</span></p>
                                    </div>
                                    <div>
                                        <p>This site was built from the ground up with very little 3rd party framework involvement. This was intentional to illustrate my full-stack programming capabilities without the need for frameworks like angular or jquery.</p>
                                        <p>The only frameworks that were used are <span class="text-Highlight">Unity MVC5</span> (used for dependency injections and repository definition) and <span class="text-Highlight">Bootstrap 4</span> (used here primaarily for html containment organization) .  This came with one other JS add-on for Bootstrap called <span class="text-Highlight">Popcorn</span>.  Popcorn operates when the side-menu is compressed and thus the descriptions for the navigation are hidden.  All animations, sliders, zooms, form-actions, page updates...etc were built using pure javascript in concert with CSS3 and MVC Request/Response handlers</p>
                                        <p>As for the MVC base design pattern used, I chose to also include a derivative called Model-View-View-Model (aka MVVM) design approach for a more defined separation of concerns mainly from the UI and the business-logic layer</p>
                                        <p>Also, <span class="text-Highlight">please note</span>, at this time, this ASP.Net MVC application is only built for Microsoft Edge, Firefox, Firefox Developer & Google Chrome</p>
                                        <p>You can download this entire site's code for further code analysis. This includes all aspects of the database operations to create, read, and manipulate database & tables using the <span data-noevent="true" class="paragraph-title" style="padding: 4px;"><a href="/Downloads/Index/1" style="color: #333;">downloads</a></span> navigation links</p>
                                    </div>

                                    <div>
                                        <p><span style="color: #00ffb4; font-size: 20px;">***</span> The data layer controlled by the "edmx" entity data models also controls this site's navigational menu system, made up of "Modules" and "Submodules"</p>
                                        <p>You'll find the Module and Submodule tables in the database</p>
                                    </div>
                                    <div ><br />
                                         <span class="text-Highlight-mint">
                                             Thank you for visiting
                                         </span>
                                    </div>
                                </td>
                                <td style="width: 50%; background-color: #6c7479;">
                                    <!-- column 2 -->
                                    <div>
                                        <span class="paragraph-title">Architecture</span>
                                    </div>
                                    <div>
                                        <p>
                                            <ul>
                                                <li><br />
                                                    <span class="text-Highlight">design patterns</span>
                                                    <ul>
                                                        <li>Model-View-Controller: (MVC)</li>
                                                        <li>Model-View-View-Model: (MVVM)</li>
                                                        <li>Constructors Dependency Injections<br /><br /></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span class="text-Highlight">frontend</span>
                                                    <ul>
                                                        <li>frameworks: bootstrap 4</li>
                                                        <li>other API: Popcorn (tooltip)</li>
                                                        <li>front-end langauges: html 5, css 3, (pure/higher order) javascript<br /><br /></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span class="text-Highlight">backend</span>
                                                    <ul>
                                                        <li>unity mvc 5</li>
                                                        <li>asp.net (framework 4.5)</li>
                                                        <li>languages: c# and razor</li>
                                                    </ul><br />
                                                <li>
                                                    <span class="text-Highlight">data layer</span>
                                                    <ul>
                                                        <li>entity framework 6: ado.net entity data model</li>
                                                        <li>database: MSSQL 2014 TSQL (for local development)<br /><br /></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span class="text-Highlight">enhanced separation of concerns</span>
                                                    <ul>
                                                        <li>web layer: MVC routing, controllers & views</li>
                                                        <li>view models layer: to employ MVVM design pattern</li>
                                                        <li>data access layer: entity framework 6 edmx, interfaces, repositories</li>
                                                        <li>service layer: defines dependency injection objects<br /><br /></li>
                                                    </ul>
                                                </li>
                                                <li><span class="text-Highlight">unit testing</span> Microsoft TestFramework<br /><br /></li>
                                                <li>
                                                    <span class="text-Highlight">hosting services</span>
                                                    <ul>
                                                        <li>database (live): Azure SQL cloud hosting</li>
                                                        <li>website: <a href="http://darthclark.azurewebsites.net">Microsoft Azure Cloud Service</a></li>
                                                        <li>source control: <span data-noevent="true" class="paragraph-title" style="padding: 4px;"><a href="https://github.com/rclark4077/Resume" style="color: #333;">GitHub</a></span></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        @foreach (dynamic item in Model.ContactNotes)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        <div><span class="paragraph-title">@item.NoteType.NoteTypeDescription</span></div>
                                        <div>
                                            <p>
                                                @item.Note
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <div><span class="paragraph-title">See Also...</span></div>
                                    <div>
                                        <p>Please check out the <span data-noevent="true" class="paragraph-title" style="padding: 4px;"><a href="/Qualifications/Index/1" style="color: #333;">qualifications</a></span> and <span data-noevent="true" class="paragraph-title" style="padding: 4px;"><a href="/Projects/Index/1" style="color: #333;">projects</a></span> sections of this website that briefly describe my technical and personal capabilities and experience</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

